body {
  font-family: 'Alegreya';
  font-size: 1.25em;
}

@font-face {
  font-family: "Alegreya";
  src: url('../../public/fonts/Alegreya-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('../../public/fonts/UnifrakturMaguntia-Book.ttf') format("truetype");
}

@media (max-width: 2000px) {
  #splash {
    height: 11em;
    width: 11em;
  }
  #splash::before {
    background-size: 150%;
  }
}

@media (max-width: 667px) {
  #splash {
    height: 11em;
    width: 6em;
  }

  #splash::before {
    background-size: 270%;
  }

  #splash p {
    font-size: 46px;
  }
}

@media (max-width: 568px) {
  #splash {
    height: 12em;
    width: 6em;
  }

  #splash::before {
    background-size: 270%;
  }

  #splash p {
    font-size: 40px;
  }

  .writing .work div p {
    width: 90%;
    text-align: center;
  }
}
