#home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#home #nav {
  list-style: none;
  text-align: center;
  font-family: 'UnifrakturMaguntia';
}

#home #nav div {
  margin: 20% auto;
  border: 1px solid;
  width: 15em;
  height: 15em;
  align-content: center;
  position: relative;
  z-index: 1;
}

#home #nav div::before {
  content: '';
  background: url('../../public/img/trepanning.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home #nav a:hover {
  cursor: pointer;
}

#home #nav a {
  text-decoration: none;
  color: #E64E5D;
}

#home #nav a li {
  margin-top: 40%;
  font-size: 46px;
  text-shadow: 2px 2px white;
}

#home #nav a:visited {
  color: #E64E5D;
}
