
@font-face {
  font-family: "Alegreya";
  src: url('../public/fonts/Alegreya-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('../public/fonts/UnifrakturMaguntia-Book.ttf') format("truetype");
}

body {
  background: #349884;
  font-family: 'Alegreya';
}

.writingRoute {
  background: #ffde8d;
  font-size: 1.25em;
  color: #064273;
}

.codeRoute {
  background: #E4939E;
  color: #40FFE6;
  font-size: 1.25em;
}

.aboutRoute {
  color: #CFE1B2;
  background: #5771B2;
  font-size: 1.25em;
  font-family: 'Alegreya';
}

.contactRoute {
  color: white;
  background: black;
  font-size: 1.25em;
  font-family: 'Alegreya';
}

/* splash and home styling */

#splash {
  width: 50%;
  height: 7.5em;
  margin: 2% auto;
  font-size: 56px;
  font-weight: 800;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  font-family: 'UnifrakturMaguntia';
}

#splash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: url('../public/img/plaguedoc.png');
  background-position: 10% auto;
  background-size: 155%;
  background-repeat: no-repeat;
}

#splash p {
  margin: 5% auto;
  color: #E64E5D;
  text-shadow: 2px 2px black;
}

#splash:hover {
  cursor: pointer;
}

#splash,
#home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#home #nav {
  list-style: none;
  text-align: center;
  font-family: 'UnifrakturMaguntia';
}

#home #nav div {
  margin: 20% auto;
  border: 1px solid;
  width: 15em;
  height: 15em;
  align-content: center;
  position: relative;
  z-index: 1;
}

#home #nav div::before {
  content: '';
  background: url('../public/img/trepanning.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home #nav a:hover {
  cursor: pointer;
}

#home #nav a {
  text-decoration: none;
  color: #E64E5D;
}

#home #nav a li {
  margin-top: 40%;
  font-size: 46px;
  text-shadow: 2px 2px white;
}

#home #nav a:visited {
  color: #E64E5D;
}

/* Back button component*/

.back {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Alegreya";
}

.back ul li {
  list-style: none;
  margin-left: -40%;
}

.back ul li a:visited,
.back ul li a {
  color: inherit;
  text-decoration: none;
}

.back ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Code component styling */

.projects,
.projects .project,
.projects .project span,
.projects .project div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Alegreya";
}

.projects .project p {
  text-transform: uppercase;
}

.projects .project p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active {
  background: #E64E5D;
  width: 10em;
  text-align: center;
}

.projects .project div p {
  text-decoration: none;
  text-transform: none;
}
.projects .project div p:hover {
  text-decoration: none;
}

.projects .project a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects .project a > div > img {
  max-width: 50%;
}

/* Writing component */

.writing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Alegreya";
  /*background: rgb(255, 222, 141);*/
}

.writing div p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.writing .work,
.writing .work div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.writing .work p {
  text-transform: uppercase;
}

.writing .work div p {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-transform: none;
}


.writing .work div p a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.writing .work div p:hover {
  text-decoration: underline;
}

/* about */
#about ul {
  text-align: center;
}

#about li {
  list-style: none;
  margin: 15% auto;
}

/*contact page*/

#contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  text-align: center;
}

#contact h2 {
  margin-left: 5%;
}

#contact ul > li {
  list-style: none;
}

#contact ul > li > a > img {
  margin-top: 50%;
}

.icon {
  height: 50px;
  width: 50px;
}

.icon:hover {
  zoom: 1.25;
}


/* animation */

.loader {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: spin 1.25s linear infinite;
}

@keyframes spin{
  100% {
    transform:rotate(-360deg);
  }
}
