
@font-face {
  font-family: "Alegreya";
  src: url('../public/fonts/Alegreya-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('../public/fonts/UnifrakturMaguntia-Book.ttf') format("truetype");
}

body {
  background: #349884;
  font-family: 'Alegreya';
}

.writingRoute {
  background: #ffde8d;
  font-size: 1.25em;
  color: #064273;
}

.codeRoute {
  background: #E4939E;
  color: #40FFE6;
  font-size: 1.25em;
}

.aboutRoute {
  color: #CFE1B2;
  background: #5771B2;
  font-size: 1.25em;
  font-family: 'Alegreya';
}

.contactRoute {
  color: white;
  background: black;
  font-size: 1.25em;
  font-family: 'Alegreya';
}

/* splash and home styling */

#splash {
  width: 50%;
  height: 7.5em;
  margin: 2% auto;
  font-size: 52px;
  font-weight: 800;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  font-family: 'UnifrakturMaguntia';
}

#splash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: url('../public/img/portrait2.png');
  background-position: center;
  /*background-size: 155%;*/
  background-repeat: no-repeat;
}

#splash p {
  margin: 5% auto;
  color: #E64E5D;
  text-shadow: 2px 2px black;
}

#splash:hover {
  cursor: pointer;
}

#splash,
#home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#home #nav {
  list-style: none;
  text-align: center;
  font-family: 'UnifrakturMaguntia';
}

#home #nav div {
  margin: 20% auto;
  border: 1px solid;
  width: 15em;
  height: 15em;
  align-content: center;
  position: relative;
  z-index: 1;
}

#home #nav div::before {
  content: '';
  background: url('../public/img/trepanning.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home #nav a:hover {
  cursor: pointer;
}

#home #nav a {
  text-decoration: none;
  color: #E64E5D;
}

#home #nav a li {
  margin-top: 40%;
  font-size: 46px;
  text-shadow: 2px 2px white;
}

#home #nav a:visited {
  color: #E64E5D;
}

/* Back button component*/

.back {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Alegreya";
  width: 10%;
  margin: 2% auto;
}

.back a:visited,
.back a {
  color: inherit;
  text-decoration: none;
}

.back a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Code component styling */

.projects,
.projects .project,
.projects .project span,
.projects .project div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Alegreya";
}

.projects .project p {
  text-transform: uppercase;
}

.projects .project p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active {
  background: #E64E5D;
  width: 10em;
  text-align: center;
}

.projects .project div p {
  width: 80%;
  text-decoration: none;
  text-transform: none;
}
.projects .project div p:hover {
  text-decoration: none;
}

.projects .project a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects .project a > div > img {
  max-width: 50%;
}

/* Writing component */

.writing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Alegreya";
}

.writing div p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.writing .work,
.writing .work div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.writing .work p {
  text-transform: uppercase;
}

.writing .work div .title {
  width: 100%
}

.writing .work div p {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-transform: none;
}


.writing .work div p a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.writing .work div p:hover {
  text-decoration: underline;
}

.writing .work div a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


/* about */
#about div,
#about p {
  text-align: center;
  margin: 5% auto;
}

#about a,
#about a:visited {
  text-decoration: none;
  color: inherit;
}

#portrait {
  background: url('../public/img/portrait2_transparent_bkg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12em;
  height: 14em;
}


.spin-left {
   animation: 0.75s ease-in reverse spin infinite;
 }

.spin-right {
   animation: 0.75s ease-in spin infinite;
 }

 .pause {
   animation-play-state:paused !important;
 }

/*contact page*/

#contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  text-align: center;
}

#contact h2 {
  text-align: center;
}

.projects-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.projects-list a {
  margin: 20% auto;
}

.projects-list img {
  width: 5em;
}

/* animation */

@keyframes spin{
  100% {
    transform:rotate(360deg);
  }
}

@media (max-width: 2000px) {
  #splash {
    height: 11em;
    width: 11em;
  }
  #splash::before {
    background-size: 150%;
  }
}

@media (max-width: 667px) {
  #splash {
    height: 11em;
    width: 6em;
  }

  #splash::before {
    background-size: 270%;
  }

  #splash p {
    font-size: 46px;
  }
}

@media (max-width: 568px) {
  #splash {
    height: 12em;
    width: 6em;
  }

  #splash::before {
    background-size: 270%;
  }

  #splash p {
    font-size: 40px;
  }

  .writing .work div p {
    width: 90%;
    text-align: center; 
  }
}
